@charset "utf-8";
/* CSS Document */

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.header-container {
	position: sticky;
	top: 0;
  z-index: 998;
	width: 100%;
	padding: 0px;
	height: 70px;
	transition: 0.2s;
}

.header-navbar {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	padding: 0px;
	height: 70px;
	transition: 0.2s;
}

.header-container img {
	position: relative;
	object-fit: cover;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.header-container div {
	display: flex;
}

.header-left {
	flex: 1;
	display: flex;
	align-items: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2%;
	padding-right: 0px;
}

.header-left h1 {
	font: Georgia;
	align-self: right;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	font-size: 30px;
}

.navbar {
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0px !important;
	margin: 0px !important;
	width: 0;
}

.header-center {
	visibility: hidden;
	display: inline-block;
	padding: 0px 0px;
	margin: 0 !important;
	font-size: 25px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-top: none;
	border-bottom: none;
	border-right: none;
}

.header-right {
	visibility: hidden;
	display: flex;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 0px;
	padding-right: 0px!important;
	margin: 0px;
	width: 0px;
	font-size: 24px;
	transition: all 0.2s ease;
	margin-right: 0px;
	margin-left: 0px;
}

.header-right:hover {
	background: rgba(0, 0, 0, 0.2) !important;
  cursor:pointer !important;
}

.header-right h2 {
	align-self: center;
	margin: 0px;
	padding: 0px;
	margin-right: 20px;
	margin-left: 20px;
}


#root {
	display: flex;
}

.site-info {
	background-color: white;
	border-color: white;
	flex-basis: 1000px;
	max-width: 1000px;
	flex-grow: 0;
	flex-shrink: 1;
}

.left-block {
	position: relative;
	background-color: lightskyblue;
	flex-basis: 0px;
	flex-grow: 1;
	flex-shrink: 0;
}

.right-block {
	position: relative;
	width: calc(100%-1000px);
	background-color: lightskyblue;
	flex-basis: 0px;
	flex-grow: 1;
	flex-shrink: 0;
}

.block-header {
	background-color: lightsteelblue;
	height: 100px;
	width: auto;
	position: sticky;
	top: 0;
  z-index: 500;
	transition: 0.2s;
}

.block-footer {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 140px;
	bottom: 0;
}

#hleft {
	background-color: rgb(226, 242, 247);
}

#hright {
	background-color: rgb(178,191,199);
}

.body-container {
	padding: 2%;
}

.white-spacer{
	position: sticky;
	top: 0;
  z-index: 990;
	height: 25px;
	width: 100%;
	background-color: white;
}

.home-img-container {
	position: relative;
	margin: 0 auto;
}

.home-img-container img {
	object-fit: cover; 
	width: 100%; 
	height: auto;
	vertical-align: middle;
}

.home-img-container .home-img-overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	width: auto;
	padding: 2%;
}

.home-img-container .home-img-overlay h2 {
	font-size: 3.5vmin;
	padding: 0px;
	margin: 0px;
	padding-left: 1%;
}

.home-img-container .home-img-overlay p {
	font-size: 2.5vmin;
	padding-left: 5%;
	padding-right: 5%;
}

.mission {
	padding: 0px;
	padding-top:  6%;
	padding-bottom: 6%;
	padding-left: 0%;
	margin: 0px;
}

.mission h2 {
	font-size: 30px;
	margin: 0px;
	padding-bottom: 3%;
	padding-left: 5%;
	color: #0058AB
}

.mission p  {
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	display: inline;
}

.mission-statement {
	display: flex;
}

.mission-statement p {
	flex: 6;
}

.mission-block {
	flex: 1;
}

.deep-blue-bar {
	background-color: rgba(3, 18, 32);
	width: 100%;
	height: 2px;
	padding: 0px !important;
	margin: 0px !important;
}

.grad-arrow {
	background-image: linear-gradient(180deg, rgba(3, 18, 32, 1), rgba(135, 206, 250));
	width: 100%;
	height: 225px;
}

.blue-grad-arrow-container {
	
}

.blue-grad-arrow-container img {
	object-fit: cover;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.blue-grad-arrow {
	
}

.page-link-boxes {
	
}

.page-link-boxes div {
	padding-top: 2%;
	padding-bottom: 3%;
}

.link-box-section {
	display: flex;
	flex-wrap: wrap;
}

.plb-text {
	padding-bottom: 0% !important;
}

.plb-text h2 {
	font-size: 30px;
	color: #0058AB;
	padding-top: 3%;
	padding-left: 3%;
}

.plb-text p {
	font-size: 18px;
	padding: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 7%;
	padding-right: 7%;
	
}

.page-link-box {
	margin-top: 0%;
	padding: 0px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 8px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	overflow:auto;
	height: 100%;
}

.page-link-box img {
	object-fit: cover;
	float: none;
	height: auto;
	margin: 0px;
	padding: 0px;
	width: 300px;
	vertical-align: middle;
}

.plb-overlay {
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(135, 206, 250, 0.5);
	color: rgba(3, 18, 32, 1);
	width: 300px;
	height: 100%;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 0%;
	padding-right: 0%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;;
}

.plb-overlay h2 {
	display: inline-block !important;
	bottom: 0;
	padding: 9px;
	margin: 0px;
	padding-left: 4%;
	color: #0058AB;
	cursor: pointer;
}

.plb-overlay h2:hover {
	color: #000000;
	text-decoration: underline;
}

.plb-overlay p {
	margin: 5%;
	margin-top: 3%;
}

.learn-more {
	display: inline-block !important;
	color: #0058AB;
	cursor: pointer;
	margin: 0px
}

.learn-more:hover {
	color: #000000;
	text-decoration: underline;
}

.plb-backdrop {
	position: absolute;
	right: 0;
	color: #ffffff;
	width: 0px;
	height: 0px;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-left: 5px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

#ocean-1 {
	object-fit: cover; 
	width: 100%; 
	height: 100%;
	padding-top: 5px;
	margin: 5px;
	vertical-align: middle;
}

.footer-contents {
	padding-top: 20px;
	display: flex;
	background-color: rgba(64, 64, 64, 1);
	color: #FFF;
	height: 120px;
}

.footer-left {
	flex: 1;
	padding-bottom: 2%;
	padding-left: 3%;
}

.footer-right {
	padding-right: 5%;
	padding-bottom: 2%;
}

.footer-left p {
	font-size: 20px;
	padding: 0px !important;
}

.footer-right p {
	font-size: 20px;
	text-align: right;
}

.social-flex {
	display: flex;
}

.social-site {
	margin: 2px;
	font-size: 16px !important;;
}


a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
	z-index: 999 !important;
  list-style: none;
  margin: 0;
  padding-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0px !important;
	width: auto;
}

li {
	z-index: 999;
  color: #000;
/*  background: rgb(250, 249, 246);*/
  display: block;
  float: left;
  padding-left: 10px;
	padding-right: 10px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.2s;
}
  
li a {
	display: inline-block;
  color: #000;
	align-self: center;
	margin: auto;
	width: 100%;
	height: 40px;
}

li:hover,
li:focus-within {
  background: rgba(0, 0, 0, 0.2) !important;
  cursor:pointer !important;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: rgba(230, 230, 230, 0.9);
	z-index: 999;
  visibility: visible;
  opacity: 0;
  position: absolute;
  transition: all 0.2s ease;
	margin-left: 0px !important;
  margin-top: 0px !important;
	padding: 4px;
	margin: 10px;
  left: 0;
  display: none;
	width: 100%;
	font-size: 20px;
	font-weight: normal;
	text-transform: none;
}


ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
	z-index: 999;
	white-space: nowrap;
	width: 100%;
	
	float: left;
	height: 40px;
	margin: 0px;
	padding: 0px;
	line-height: 40px;
}

.header-dropdowns {
	visibility: visible;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0px !important;
	margin: 0px !important;
	width: auto;
	line-height: 70px;
	font-size: 24px;
}

.dropdown-container {
	height: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 4px 60px;
	margin: 0 !important;
	padding-top: 0px;
	padding-bottom: 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-top: none;
	border-bottom: none;
	border-right: none;
}


.dropdown-container-text {
	height: 100%;
	text-align: center;
}
